<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Trang chủ</title>
	<!-- <link href="/css/material-components-web.min.css" rel="stylesheet"> -->
	<!-- <link href="/css/icon.css" rel="stylesheet"> -->
	<!-- <script src="/js/material-components-web.min.js"></script> -->
	<!-- <script src="/js/jquery-3.6.0.min.js"></script> -->

	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script src="/socket/socket.io.min.js"></script>
	
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<h1>Minh họa vòng thi tăng tốc</h1>
		<div class="button-wrapper">
			<button class="mdc-button mdc-button--raised manage">
				<span class="mdc-button__ripple"></span>
				<span class="mdc-button__label">Quản lí</span>
				<i class="material-icons mdc-button__icon" aria-hidden="true">open_in_new</i>
			</button>
			<button class="mdc-button mdc-button--raised player">
				<span class="mdc-button__ripple"></span>
				<span class="mdc-button__label">Thí sinh</span>
				<i class="material-icons mdc-button__icon" aria-hidden="true">open_in_new</i>
			</button>
			<button class="mdc-button mdc-button--raised spectator">
				<span class="mdc-button__ripple"></span>
				<span class="mdc-button__label">Khán giả</span>
				<i class="material-icons mdc-button__icon" aria-hidden="true">open_in_new</i>
			</button>
		</div>
		<button class="mdc-button mdc-button--outlined code">
			<i class="material-icons mdc-button__icon" aria-hidden="true">code</i>
			<span class="mdc-button__ripple"></span>
			<span class="mdc-button__label">Source code</span>
		</button>
	</div>
	<p>From <a href="https://www.facebook.com/minhhuy2005" target="_blank">Huy Trịnh</a> with <i class="material-icons love" aria-hidden="true">favorite</i></p>
	<script src="/js/index.js"></script>
</body>
</html>