<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Manage</title>
	<link href="/css/material-components-web.min.css" rel="stylesheet">
	<link href="/css/icon.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/manage.css" rel="stylesheet">
	<script src="/js/material-components-web.min.js"></script>
	<script src="/js/jquery-3.6.0.min.js"></script>
</head>
<body>
	<div class="main-container">
		<div class="question-container">
			<div class="title">Câu hỏi</div>
			<div class="content">
				<p class="question">Chưa bắt đầu!</p>
			</div>
		</div>
		<div class="tools-container">
			<div class="title">Công cụ</div>
			<div class="content">
				<div class="tools-wrapper">
					<button class="mdc-button mdc-button--raised start">
						<span class="mdc-button__ripple"></span>
						<span class="mdc-button__label">Bắt đầu</span>
						<i class="material-icons mdc-button__icon" aria-hidden="true">play_arrow</i>
					</button>
					<button class="mdc-button mdc-button--raised stop" disabled>
						<span class="mdc-button__ripple"></span>
						<span class="mdc-button__label">Dừng khẩn cấp</span>
						<i class="material-icons mdc-button__icon" aria-hidden="true">stop</i>
					</button>
					<p class="timer">0</p>
				</div>
			</div>
		</div>
		<div class="answers-container">
			<div class="answer1">
				<div class="title">Thí sinh 1</div>
				<div class="content">
					<table class="mdc-data-table__table row-border">
						<tbody class="mdc-data-table__content"></tbody>
					</table>
				</div>
			</div>
			<div class="answer2">
				<div class="title">Thí sinh 2</div>
				<div class="content">
					<table class="mdc-data-table__table row-border">
						<tbody class="mdc-data-table__content"></tbody>
					</table>
				</div>
			</div>
			<div class="answer3">
				<div class="title">Thí sinh 3</div>
				<div class="content">
					<table class="mdc-data-table__table row-border">
						<tbody class="mdc-data-table__content"></tbody>
					</table>
				</div>
			</div>
			<div class="answer4">
				<div class="title">Thí sinh 4</div>				
				<div class="content">
					<table class="mdc-data-table__table row-border">
						<tbody class="mdc-data-table__content"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>




	<div class="audio-container" style="display: none">
		<audio class="timer-audio" preload="auto" src="../sound/timer.mp3"></audio>
	</div>

	<script src="/js/manage.js"></script>
</body>
</html>