<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spectate</title>
	<link href="/css/material-components-web.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/spectate.css" rel="stylesheet">
	<script src="/js/material-components-web.min.js"></script>
	<script src="/js/jquery-3.6.0.min.js"></script>
</head>
<body>
	<div class="main-container">
		<div class="panel-question">
			<div class="question">
				<p class="question-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				</p>
			</div>
			<div class="timer">
				30
			</div>
		</div>
		<div class="image"></div>
	</div>

	<script src="/js/spectate.js"></script>
</body>
</html>