body {
	display: flex;
	flex-flow: column;
}

div.main {
	margin: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
}

div.button-wrapper {
	display: flex;
	flex-flow: row;
	margin: 40px 0;
}

button.mdc-button--raised {
	margin: 10px;
	height: 2.5em;
	font-size: 1.1em;
}

h1 {
	font-size: 2.5em;
}

ico {
	color: white;
}

.mdc-button--outlined:not(:disabled) {
	border: 2px solid var(--mdc-theme-primary);
}

p {
	align-self: center;
}

i.love {
	color: #ff4545 !important;
}