@import url('./Montserrat.css');

:root {
  --mdc-theme-primary: #e8662eff;
  --mdc-theme-secondary: #30E868;
  --mdc-theme-background: #33325dff;
  --mdc-theme-surface: #241f4fff;
  --border-color:  #fff;
  --border-width: 3px;
  --mdc-typography-font-family: Monteserrat, sans-serif;
}

* {
 font-family: Monteserrat, sans-serif;
 color: #fff !important;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--mdc-theme-background);
}